a {
    color: #fff;
}
.list-blog a {
    text-decoration: none;
    color: black !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/*   
tr:nth-child(even) {
    background-color: #dddddd;
  } */
td img {
    width: 60px;
    height: auto;
}
/* .list-blog {
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
